/*********************/                 /*********************/
/**GLOBAL **/                           /*********************/
/*********************/                 /*********************/

                        /************/
                        div {
                            text-align: center;
                            }
                            
                          

                        body{
                            font-family:"Century Gothic";
                           
                            background-image: url("/static/images/star war background.jpg");
                        }
                        
                        
                        
                        /****************/
                        /* /HEADER NEF/ */
                        /****************/
                        
                        header { 
                         /*   background-color ;/* add mau gi cung duoc 'highlight my sebwite' */
                         font-family:"Franklin Gothic Medium"   
                        }
                        
                        header h1 { 
                            color: peachpuff;
                            padding:50px;

                        text-align: center 
                        }

                        #navbar {
                            text-align: center;
                        }
                        
                        nav a {
                            color: yellow;
                            font-weight: bold;
                            font-size: x-large;
                            
                        }

                        
                        
                        
                        /****************/
                        /* /IMAGES/ */
                        /****************/
                        
                        img {
                            max-width: 30%;
                            max-height: 250%;
                           }
                           
                        
                        