/*********************/                 /*********************/
/**GLOBAL **/                           /*********************/
/*********************/                 /*********************/

                        /************/
                        div {
                            text-align: center;
                            }
                            
                          

                        body{
                            font-family:"Century Gothic";
                           color: yellowgreen;
                            background-image: url("/static/images/co341S.webp");
                            background-size: cover;
                            margin: 0;
                            padding: 0;
                            display: flex;
                            flex-direction: column;
                            min-height: 100vh;

                        }

                        .content {
                            max-width: 800px; 
                            margin: 0 auto; /* Center the content horizontally */
                            padding: 20px; /* Add some spacing around the content */
                        }
                        
                        footer {
                        
                            color: white;
                            padding: 20px;
                            margin-top: auto; /* Push the footer to the bottom */
                        }

                        input[type=text], select, textarea {
                            width: 100%;
                            padding: 12px;
                            border: 1px solid #ccc;
                            border-radius: 4px;
                            box-sizing: border-box;
                            margin-top: 6px;
                            margin-bottom: 16px;
                            resize: vertical;
                          }
                          
                          a {
                            color: cyan;
                            text-decoration: none; 
                        }
                        
                        * {
                            box-sizing: border-box;
                        }
                        
                        section {
                            font-size: 18px; 
                        }
                        /****************/
                        /* /HEADER NEF/ */
                        /****************/
                        
                        header { 
                         /*   background-color ;/* add mau gi cung duoc 'highlight my sebwite' */
                         font-family:"Franklin Gothic Medium"   
                        }
                        
                        header h1 { 
                            color: peachpuff;
                            padding:50px;

                        text-align: center 
                        }

                        #navbar {
                            text-align: center;
                        }
                        
                        nav a {
                            color: yellow;
                            font-weight: bold;
                            font-size: x-large;
                            
                        }

                        
                        
                        
                        /****************/
                        /* /IMAGES/ */
                        /****************/
                        
                        img {
                            max-width: 30%;
                            max-height: 250%;
                           }
                           
                        
                        .whole {
                            display: flex;
                            justify-content: space-between;
                                  
                        }