{% extends"layout.html" %}
{% block content %}

    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="styles.css">
            <title></title>
        </head>
        <body>
            <header>
                <center><h1>"Welcome to Our Star Wars Journey:
                    Unveiling the Galactic Saga</h1><center>
            </header>
            
            <main class="content">
                <section><center><h2>
                    Step into a world where the boundaries of space and time are woven together by the 
    enchanting tale of "Star Wars." Born as a captivating high school project, 
    this website invites you to explore the iconic universe of the character including their skill
                </h2></center></section>
            </main>
        


{% endblock %} 